.bannerDiv {
    width: 50%;
    height: 5%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid #0B2447;
    margin-bottom: 10px;
}

.bannerDiv h1 {
    color: #0B2447;
    font-family: 'Quicksand', sans-serif;
}