* {
    color: #0B2447;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

th {
    font-size: 25px;
}

.tableDiv {
    position: relative;
    width: 50%;
    height: 80%;
    border: #0B2447 solid;
    min-width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.tableDiv table {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tableDiv table tr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;    
    
}

.tableDiv table tr div {
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.tableDiv table tr:first-child {
    border-bottom: #0B2447 solid;
    
}

.deleteButton {
    background-color: #D7C0AE;
    border: none;
    font-size: 15px;
}